
/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans:wght@200&family=Island+Moments&family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600&family=Roboto:wght@100&family=The+Nautigal:wght@400;700&display=swap');

/* common style  */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --common-color:#3A3A3A;
}

.primary-btn{
    background:#E02C6D;
    color: #fff;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.container{
    padding: 30px 60px;
}


/* header section start here  */

header{
    width: 100%;
    max-width: 1200px;
    padding: 30px 60px;
    margin: 0 auto;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 24px;
    font-weight: 700;
    color:var(--common-color);
}


.navbar{
    width: 463px;;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.navbar ul li {
    list-style: none;
    
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:var(--common-color);
}

/* hero section start  */





.banner{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
    
}
.pro-details{
    flex:1;
    padding-right: 60px;
}
.pro-details h1{
    font-size: 37px;
    font-weight: bold;
}
.pro-details p{
    padding:9px 0 26.1px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--common-color);
}
.fa-arrow-right{
    margin-left: 8px;
}
.pro-img{
    width: 440px;
    height: 414px;
    position: relative;

    
}
.pro-img .img1,.img2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pro-img .img1 img,.img2 img{
    width:100%;
}

/* sponser section start  */
.big-logo{
    padding: 80px 100px;
}
.compony-logo{
    padding:32px 20px;
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    border-top: 2px solid #f0f0f0e1;
    border-bottom: 2px solid #f0f0f0e1;
}



