
/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans:wght@200&family=Island+Moments&family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600&family=Roboto:wght@100&family=The+Nautigal:wght@400;700&display=swap');

/* common style  */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --common-color:#3A3A3A;
}

.primary-btn{
    background:#E02C6D;
    color: #fff;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.container{
    padding: 30px 60px;
}

#check{
    visibility: hidden;
}
.bar{
    display: none;
}

/* header section start here  */

header{
    width: 100%;
    max-width: 1200px;
    padding: 30px 60px;
    margin: 0 auto;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 24px;
    font-weight: 700;
    color:var(--common-color);
}


.navbar{
    width: 463px;;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.navbar ul li {
    list-style: none;
    
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:var(--common-color);
}

/* hero section start  */





.banner{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
    
}
.pro-details{
    flex:1;
    padding-right: 60px;
}
.pro-details h1{
    
    font-size: 36px;
    font-weight: bold;
}
.pro-details p{
    padding:9px 0 26.1px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--common-color);
}
.fa-arrow-right{
    margin-left: 8px;
}
.pro-img{
    width: 440px;
    height: 414px;
    position: relative;

    
}
.pro-img .img1,.img2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pro-img .img1 img,.img2 img{
    width:100%;
}

/* sponser section start  */
.big-logo{
    padding: 80px 100px;
}
.compony-logo{
    padding:32px 20px;
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    border-top: 2px solid #f0f0f0e1;
    border-bottom: 2px solid #f0f0f0e1;
}
/* collection section start  */

.collection{
    overflow: hidden;
    margin: 0px 80px;
    padding: 0 80px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.title{
    text-align:center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 28px;
    color: var(--common-color);
}
.collection-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    justify-content: center;
    gap: 30px;
}
.card{
    height: 476px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
.card:hover  .card-img img{
    transform: scale(1.1);
}
.card:hover{
    box-shadow: 3px 5px 40px rgba(0, 0, 0, 0.5);;
}
.card-img{
    
    overflow: hidden;
}
.card img{
    transition: 0.3s linear;
    width: 240px;
}

.card h2{
    font-size: 28px;
    padding: 16px 0;
}
.card h3{
    font-size: 24px;
}
.card .fa-star,.fa-star-half-o{
    color: #eb8808ea;
    margin-bottom: 10px;
}
.card .rating{
    color:#5E6366;
    font-size:14px;
    margin-left: 8px;
}
.card .icon-box h4,h5{
    font-size:14px;
    color: #787885;

}
.see-btn{
    color:#E02C6D;
    margin-top: 30px;
    margin-left:88%;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    font-size:16px;
    line-height: 24px;
}

/* contact us section start  */


.contact{
    background:#9da4aced;
}

#contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.about-details h1{
    font-size: 40px;
    color:#E02C6D;
}

.about-details p{
    line-height: 25px;
    font-size: 16px;
}
.contact-btn{
    border: 1px solid #E02C6D;
    color:#3A3A3A;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: 0.3s linear;
    overflow: hidden;
}
.contact-btn:hover{
    color:#fff;
}
.contact-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    background:#E02C6D;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
    
}
.contact-btn:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    
}

.message{
   
    padding: 10px 30px;

}
.message:hover{
    box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.5);
}
.message h1{
    color: #3A3A3A;
}
.message input,textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #787885;
    
}
.message input,textarea:focus{
    outline: none;
}
.message textarea{
    resize: none;
}

/* footer section start  */

footer{
    display: grid;
    place-items: center;
    background: #0A0826;
    padding: 50px 0;
}
.footer-div{
    text-align: center;
}
.footer-div h1{
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    font-weight: bold;
}
.footer-div p{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}
.footer-icon{
    color: #fff;
    font-size: 20px;
    margin-top: 17px;
}

.f-icon{
    margin: 0 16px;
    transition: 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
}
.f-icon:hover{
    background-color: #E02C6D;
    color: #fff;
    transform: scale(1.2);
}


/* responsiveness start here  */

@media screen and (max-width:962px) {
    

    
/* hero section  start  */
    .banner{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 30px;
    }
    .pro-details{
        flex:1;
        
    }
    .pro-details h1{
        font-size: 33px;
    }
    .pro-details p{
        padding: 24px 0 53.1px 0;
    }
    .pro-img{
        width: 390px;
        height: 414px;
        position: relative;
    }
    body{
        overflow-x: hidden;
    }

/* big logo section start  */

.big-logo {
    padding: 56px 100px;
}



}

@media screen and (max-width:820px){
    .logo h1 {
        font-size: 19px;
    }
    body{
        overflow-x: hidden;
    }
}


/* max width 690 to 888px  */

@media screen and (max-width:850px){
    
    /* header section start  */
    header{
        width: 100%;
       
        padding: 20px 60px;
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
    .logo h1 {
        font-size: 21px;
        font-weight: 700;
        color: var(--common-color);
    }
    .pro-img {
        width: 357px;
        height: 414px;
        position: relative;
    }


}


/* i pad air screen size  */

@media screen and (max-width:820px){
    body{
        overflow-x: hidden;
    }
    /* header section start  */
    .logo h1 {
        font-size: 19px;
        font-weight: 700;
        color: var(--common-color);
    }
    .navbar {
        width: 416px;
    }
    .navbar ul li a {
        font-size: 15px;
    }

    /* banner section start  */
    .pro-details h1 {
        font-size: 27px;
    }
    .pro-details p {
        padding: 24px 0 42.1px 0;
    }
    .pro-img {
        width: 341px;
        height: 413px;
        position: relative;
    }
    .pro-img .img1, .img2 {
        position: absolute;
        top: 38px;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* logo section start  */

    .big-logo {
        padding: 41px 100px;
    }
    .multiple-logo img{
        width: 62px;
    }
    /* cvollection section start  */

    .collection-card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        justify-content: center;
        gap: 25px;
    }
    .see-btn{
        margin-left: 41%;
    }

    /* contact section start  */
    #contact {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

}


/* mini tablet screen size  */

@media screen and (max-width:768px){
    .pro-details h1 {
        font-size: 23px;
    }
    .message textarea {
        height: 157px;
        resize: none;
    }
    body{
        overflow-x: hidden;
    }
}

/* mobile screen size  */

@media screen and (max-width:500px){

    body{
        overflow-x: hidden;
    }
    .navbar{
        display:none;
    }
    .bar{
        display: block;
    }
    
    .banner{
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
    }
    .bar1{
       width: 24px;
       height: 24px;
       margin-left: -32px;
    }
    .pro-details{
        text-align: center;
        padding: 28px;
    }
    .multiple-logo{
        display: inline;
        text-align: center;
    }
    .multiple-logo img {
        width: 27px;
    }
    .big-logo {
        padding: 35px 100px 30px 100px;
    }
    .compony-logo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        padding: 10px 20px;
        gap: 10px;
    }

    .collection-card {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        gap: 25px;
      }
      .see-btn {
        /* display: block; */
        margin-left:58%;
        /* margin: 0 auto; */
    }

/* contact section start  */

#contact {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.about-details{
    text-align: center;
}
.message{
    margin-bottom:23px;
    text-align: center;
}
.message h1{
    margin: 10px 0;
}

}

/* mobile screen size  */

@media screen and (max-width:396px){
    /* header section start  */
    body{
        overflow-x: hidden;
    }
    .bar{
        display:block;
    }


    .bar1 {
        width: 24px;
        height: 24px;
        margin-left: -17px;
    }
    .pro-img .img1, .img2 {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .pro-img {
        margin-top: -36px;
        text-align: center;
    }
    .pro-img{
        text-align: center;
    }




    .pro-img .img1 img, .img2 img {
        width: 85%;
    }

    .pro-details{
        margin-top: -10px;
    }
    .pro-details h1 {
        font-size: 19px;
    }
    .collection{
        padding: 0 40px;
    }
    .primary-btn{
         font-size: 13px;
        padding: 8px 16px;
     }

      .see-btn{
        font-size: 13px;
        margin-left: 193px;
            }

    .about-details h1 {
         font-size: 34px;
         color: #E02C6D;
         margin-top: -15px;
        margin-bottom: 16px;
     }
     .contact-btn{
        font-size: 16px;
        padding: 8px 13px;
     }

     .footer-div h1{
         font-size: 22px;
     }

}

/* 326px width responsive  */


@media screen and (max-width:360px){
    body{
        overflow-x: hidden;
    }
/* header section start  */
.bar{
    display:block;
}
.bar1 {
    width: 24px;
    height: 24px;
    margin-left: -21px;
}

.logo h1 {
    font-size: 17px;
    font-weight: 700;
    color: var(--common-color);
}
.pro-img {
    width: 325px;
    height: 358px;
    position: relative;
    text-align: center;
}
.pro-img .img1 img, .img2 img {
    width: 84%;
}
/* .pro-details h1 {
    font-size: 16px;
} */

.pro-details p {
    padding: 9px 0 26.1px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: var(--common-color);
}

.primary-btn {
    background: #E02C6D;
    color: #fff;
    border-radius: 41px;
    padding: 6px 8px;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.big-logo{
    margin-top: -17px;
}
.collection {
    overflow: hidden;
    margin: 0px 80px;
    padding: 0 26px;
    max-width: 1200px;
    margin: 0 auto;
}
.see-btn{
    font-size: 18px;
    margin-left: 58%;
}

.about-details h1 {
    font-size: 36px;
    color: #E02C6D;
    margin-bottom: 23px;
    margin-top: -21px;
}

footer{
    padding: 36px 0;
}
.f-icon {
    margin: 0 10px;
    transition: 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
}



}






 







