
/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans:wght@200&family=Island+Moments&family=Lobster&family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600&family=Roboto:wght@100&family=The+Nautigal:wght@400;700&display=swap');

/* common style  */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --common-color:#3A3A3A;
}


/* header section start here  */

header{
    width: 100%;
    max-width: 1200px;
    padding: 30px 60px;
    margin: 0 auto;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 24px;
    font-weight: 700;
    color:var(--common-color);
}


.navbar{
    width: 463px;;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.navbar ul li {
    list-style: none;
    
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:var(--common-color);
}



